<section class="wrapper">
  <h3 class="contact__header">Contact</h3>
  <form class="contact__form">
    <h4 class="form__header">Inquiries
    </h4>
    <label class="form__label">
      <p>Name</p>
      <input class="form__input" type='text' name='name' placeholder="">
    </label>
    <label class="form__label">
      <p>Email</p>
      <input class="form__input" type='text' name='email' placeholder="">
    </label>
    <label class="form__label">
      <p>Subject</p>
      <input class="form__input" type='text' name='subject' placeholder="">
    </label>
    <label class="form__label">
      <p>Message</p>
      <textarea class="form__textarea" name="message"></textarea>
    </label>
    <button class="form__btn">Send</button>
  </form>


</section>