@import '~sass/_variables.scss';
.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  color: $c-primary;
  flex-direction: column;
  padding: 10px 0 0 35px;
  font-family: nixieone;
}