<section class="wrapper">
  <h3 class="contact__header">Contact</h3>
  <form action="">
    <h4>Inquiries
    </h4>
    <label>
      <p>Name</p>
      <input type='text' name='name' placeholder="">
    </label>
    <label>
      <p>Email</p>
      <input type='text' name='email' placeholder="">
    </label>
    <label>
      <p>Subject</p>
      <input type='text' name='subject' placeholder="">
    </label>
    <label>
      <p>Message</p>
      <textarea name="message" cols="30" rows="10"></textarea>
    </label>
    <button type="submit">Send</button>
  </form>


</section>