<footer class="footer__page">
  <address>
    <p>123 st. city location, country </p>
    <span> | </span>
    <a href="tel:987654321">987654321</a>
  </address>
  <div>
    <a href="http://facebook.com">
      <img src="../../../assets/images/icon-facebook.png" alt="social icon facebook">
    </a>
    <a href="#">
      <img src="../../../assets/images/icon-twitter.png" alt="social icon twitter">
    </a>
    <a href="#">
      <img src="../../../assets/images/icon-googleplus.png" alt="social icon googleplus">
    </a>
    <a href="#">
      <img src="../../../assets/images/icon-pinterest.png" alt="social icon pinterest">
    </a>
  </div>
</footer>