<section class="wrapper">
  <h3 class="instructors__header">Instructors</h3>

  <figure class="snip1113 green">
    <img src="../../../../assets/images/instructor1.jpg" alt="pr-sample1" />
    <figcaption>
      <h3>Belle
        <span>Humpfree</span>
      </h3>
      <h4>
        Trainer
      </h4>
    </figcaption>
  </figure>
  <figure class="snip1113 blue hover">
    <img src="../../../../assets/images/instructor2.jpg" alt="pr-sample3" />
    <figcaption>
      <h3>Jacob
        <span>Collern</span>
      </h3>
      <h4>
        Personal Trainer
      </h4>
    </figcaption>
  </figure>
  <figure class="snip1113 orange">
    <img src="../../../../assets/images/instructor3.jpg" alt="pr-sample9" />
    <figcaption>
      <h3>Edward
        <span>Blanche</span>
      </h3>
      <h4>
        Yoga Master
      </h4>
    </figcaption>
  </figure>
  <figure class="snip1113 red" >
    <img src="../../../../assets/images/instructor4.jpg" alt="pr-sample9" />
    <figcaption>
      <h3>Carrie
        <span>Waldorf</span>
      </h3>
      <h4>
        Yoga Trainer
      </h4>
    </figcaption>
  </figure>
</section>