<section class="wrapper">
  <h3 class="instructors__header">Instructors</h3>
  <figure>
    <img src='../../../../assets/images/instructor1.jpg' alt='trainer Belle Humpfree'>
    <figcaption>Belle Humpfree</figcaption>
  </figure>
  <figure>
    <img src='../../../../assets/images/instructor2.jpg' alt='trainer Jacob Collern'>
    <figcaption>Jacob Collern</figcaption>
  </figure>
  <figure>
    <img src='../../../../assets/images/instructor3.jpg' alt='trainer Edward Blanche'>
    <figcaption>Edward Blanche</figcaption>
  </figure>
  <figure>
    <img src='../../../../assets/images/instructor4.jpg' alt='trainer Carrie Waldorf'>
    <figcaption>Carrie Waldorf</figcaption>
  </figure>
</section>
