.wrapper{
  max-width:540px;
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  padding:10px 0;
}
.instructors__header{
flex:1 100%;
}
figure {
  margin:5px;
  position:relative;
}