<section>
  <h3>Classes</h3>
  <article>
    <h4>Beginners</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque condimentum, dignissim libero sit amet, blandit
      felis.</p>
    <p>MWF : 8AM to 9AM</p>
    <p>TTHS : 10AM-11AM</p>
  </article>
  <article>
    <h4>Intermediate</h4>
    <p> Cras dignissim est sed lorem suscipit, ut ultrices dolor tempus. Cras venenatis gravida scelerisque. Aenean sit amet
      massa dui
    </p>
    <p>MWF : 10AM-11AM</p>
    <p>TTHS : 1PM-2PM</p>
  </article>
  <article>
    <h4>Advanced</h4>
    <p> Quisque non quam lorem. Nulla eu placerat leo. Suspendisse eros risus, viverra sed fermentum vitae, gravida ac tellus.</p>
    <p>MWF : 1PM-2PM</p>
    <p>TTHS : 8AM to 9AM</p>
  </article>


</section>