<section class="wrapper">
  <h3>Classes</h3>
  <article>
    <h4>Beginners</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque condimentum, dignissim libero sit amet, blandit
      felis.</p>
    <p>MWF : 8AM to 9AM</p>
    <p>TTHS : 10AM-11AM</p>
  </article>
  <article>
    <h4>Intermediate</h4>
    <p> Cras dignissim est sed lorem suscipit, ut ultrices dolor tempus. Cras venenatis gravida scelerisque. Aenean sit amet
      massa dui
    </p>
    <p>MWF : 10AM-11AM</p>
    <p>TTHS : 1PM-2PM</p>
  </article>
  <article>
    <h4>Advanced</h4>
    <p> Quisque non quam lorem. Nulla eu placerat leo. Suspendisse eros risus, viverra sed fermentum vitae, gravida ac tellus.</p>
    <p>MWF : 1PM-2PM</p>
    <p>TTHS : 8AM to 9AM</p>
  </article>
  <div class="wrapper__btn">
    <button class="btn" (click)="view = 'month'" >Month</button>
    <button class="btn" (click)="view = 'week'">Week</button>
    <button class="btn" (click)="view = 'day'">Day</button>
  </div>
  <div class="wrapper__btn">
    <button class="btn" (click)="view = 'month'" >Previous</button>
    <button class="btn" (click)="view = 'week'">Today</button>
    <button class="btn" (click)="view = 'day'">Next</button>
  </div>
  
<div [ngSwitch]="view">
  <mwl-calendar-month-view class="callendar" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-day-view>
</div>

</section>