<section>

  <article>
    <figure class="snip1253">
      <div class="image">
        <img src="../../../assets/images/blog1.jpeg" alt="sample52" />
      </div>
      <figcaption>
        <div class="date">
          <span class="day">28</span>
          <span class="month">Oct</span>
        </div>
        <h3>Summer Yoga Classes</h3>
        <p>
          I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
        </p>
      </figcaption>
      <footer>
        <div class="views">
          <img class="icon" src="../../../assets/images/eye.svg" alt="eye icon"> 2,907</div>
        <div class="love">
          <img class="icon icon-small" src="../../../assets/images/like.svg" alt="eye icon">623</div>
        <div class="comments">
          <img class="icon icon-small" src="../../../assets/images/chat.svg" alt="eye icon">23</div>
      </footer>
      <a href="#"></a>
    </figure>
  </article>
  <article>
    <figure class="snip1253">
      <div class="image">
        <img src="../../../assets/images/blog2.jpg" alt="sample52" />
      </div>
      <figcaption>
        <div class="date">
          <span class="day">28</span>
          <span class="month">Oct</span>
        </div>
        <h3>Summer Yoga Classes</h3>
        <p>
          I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
        </p>
      </figcaption>
      <footer>
        <div class="views">
          <img class="icon" src="../../../assets/images/eye.svg" alt="eye icon"> 2,907</div>
        <div class="love">
          <img class="icon icon-small" src="../../../assets/images/like.svg" alt="eye icon">623</div>
        <div class="comments">
          <img class="icon icon-small" src="../../../assets/images/chat.svg" alt="eye icon">23</div>
      </footer>
      <a href="#"></a>
    </figure>
  </article>
  <article>
    <figure class="snip1253">
      <div class="image">
        <img src="../../../assets/images/blog3.jpg" alt="sample52" />
      </div>
      <figcaption>
        <div class="date">
          <span class="day">28</span>
          <span class="month">Oct</span>
        </div>
        <h3>Summer Yoga Classes</h3>
        <p>
          I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
        </p>
      </figcaption>
      <footer>
        <div class="views">
          <img class="icon" src="../../../assets/images/eye.svg" alt="eye icon"> 2,907</div>
        <div class="love">
          <img class="icon icon-small" src="../../../assets/images/like.svg" alt="eye icon">623</div>
        <div class="comments">
          <img class="icon icon-small" src="../../../assets/images/chat.svg" alt="eye icon">23</div>
      </footer>
      <a href="#"></a>
    </figure>
  </article>

<div>Icons made by
  <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>
<div>Icons made by
  <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>


</section>